<div class="py-12 border-t border-bunker">
  <div class="max-w-xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">A better way to send money.</h2>
    <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-20">
      <div class="pt-16">
        <a href="https://www.wickedtemplates.com/">
          <dt class="inline-flex items-center">
            <div>
              <div>
                <img
                  class="inline-block rounded-full h-9 w-9"
                  src="https://pbs.twimg.com/profile_images/1428977874900590593/cIZ-BdER_400x400.jpg"
                  alt=""
                />
              </div>
            </div>
            <p
              class="ml-5 text-lg font-light leading-6 text-white text-opacity-70"
            >
              Wicked Templates
            </p>
          </dt>
          <dd class="flex flex-col mt-6 text-base font-light text-aluminium">
            <span
              class="mb-3 text-lg font-light leading-6 text-white text-opacity-70 lg:text-2xl"
              >Tailwind CSS Landing pages for your Next project.
            </span>
            Design, Front-end, template creation.
          </dd>
          <div>
            <img
              class="mt-12 rounded shadow-thick"
              src="https://www.wickedtemplates.com/images/opengraph/openGraphTwitter.png"
              alt=""
            />
          </div>
        </a>
      </div>
      <div class="pt-16">
        <a href="https://www.colorsandfonts.com/">
          <dt class="inline-flex items-center">
            <div>
              <div>
                <img
                  class="inline-block rounded-full h-9 w-9"
                  src="https://ph-files.imgix.net/f100d4cf-2537-419e-ba6b-3f088651c1d2.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=100&h=100&fit=crop&dpr=2"
                  alt=""
                />
              </div>
            </div>
            <p
              class="ml-5 text-lg font-light leading-6 text-white text-opacity-70"
            >
              Colors &amp; Fonts
            </p>
          </dt>
          <dd class="flex flex-col mt-6 text-base font-light text-aluminium">
            <span
              class="mb-3 text-lg font-light leading-6 text-white text-opacity-70 lg:text-2xl"
              >Color &amp; typography inspiration for web devs &amp; designers.
            </span>
            Design, Front-end, color curation.
          </dd>
          <div>
            <img
              class="mt-12 rounded shadow-thick"
              src="https://www.colorsandfonts.com/images/opengraph/openGraphTwitter.png"
              alt=""
            />
          </div>
        </a>
      </div>
      <div class="pt-16">
        <a href="https://wickedpopups.com/">
          <dt class="inline-flex items-center">
            <div>
              <div>
                <img
                  class="inline-block rounded-full h-9 w-9"
                  src="https://ph-files.imgix.net/11824986-4bd0-4e2d-8b0f-28c5934e2adb.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=100&h=100&fit=crop&dpr=2"
                  alt=""
                />
              </div>
            </div>
            <p
              class="ml-5 text-lg font-light leading-6 text-white text-opacity-70"
            >
              Wicked Popups
            </p>
          </dt>
          <dd class="flex flex-col mt-6 text-base font-light text-aluminium">
            <span
              class="mb-3 text-lg font-light leading-6 text-white text-opacity-70 lg:text-2xl"
            >
              Super duper cool Tailwind CSS modals.
            </span>
            Design, Front-end, popups creation.
          </dd>
          <div>
            <img
              class="mt-12 rounded shadow-thick"
              src="https://wickedpopups.com/images/ogTwitter.png"
              alt=""
            />
          </div>
        </a>
      </div>
      <div class="pt-16">
        <a href="https://wickedblocks.dev/">
          <dt class="inline-flex items-center">
            <div>
              <div>
                <img
                  class="inline-block rounded-full h-9 w-9"
                  src="./images/wickedblocksLogo.png"
                  alt=""
                />
              </div>
            </div>
            <p
              class="ml-5 text-lg font-light leading-6 text-white text-opacity-70"
            >
              Wicked Blocks
            </p>
          </dt>
          <dd class="flex flex-col mt-6 text-base font-light text-aluminium">
            <span
              class="mb-3 text-lg font-light leading-6 text-white text-opacity-70 lg:text-2xl"
            >
              Tailwind CSS blocks to use on your next project.
            </span>
            Design, Front-end, block creation.
          </dd>
          <div>
            <img
              class="mt-12 rounded shadow-thick"
              src="https://wickedblocks.dev/images/ogtwitter.png"
              alt=""
            />
          </div>
        </a>
      </div>
      <div class="pt-16">
        <a href="https://wvsc.dev/">
          <dt class="inline-flex items-center">
            <div>
              <div>
                <img
                  class="inline-block rounded-full h-9 w-9"
                  src="https://ph-files.imgix.net/aa9db74a-8e8d-4d66-96ad-884421941842.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=100&h=100&fit=crop&dpr=2"
                  alt=""
                />
              </div>
            </div>
            <p
              class="ml-5 text-lg font-light leading-6 text-white text-opacity-70"
            >
              Serendipity
            </p>
          </dt>
          <dd class="flex flex-col mt-6 text-base font-light text-aluminium">
            <span
              class="mb-3 text-lg font-light leading-6 text-white text-opacity-70 lg:text-2xl"
              >A UI Theme for VS Code and much more.
            </span>
            Design, Front-end, theme creation.
          </dd>
          <div>
            <img
              class="mt-12 rounded shadow-thick"
              src="https://ph-files.imgix.net/f4e3679c-25d7-4a6d-b4a4-5b5052f8bb32.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&fit=max&dpr=2"
              alt=""
            />
          </div>
        </a>
      </div>
      <div class="pt-16">
        <a href="https://wickedbackgrounds.com/">
          <dt class="inline-flex items-center">
            <div>
              <div>
                <img
                  class="inline-block rounded-full h-9 w-9"
                  src="https://ph-files.imgix.net/cebabb8d-1800-4828-b75c-7dd6e3dd8453.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=100&h=100&fit=crop&dpr=2"
                  alt=""
                />
              </div>
            </div>
            <p
              class="ml-5 text-lg font-light leading-6 text-white text-opacity-70"
            >
              Wicked Backgrounds
            </p>
          </dt>
          <dd class="flex flex-col mt-6 text-base font-light text-aluminium">
            <span
              class="mb-3 text-lg font-light leading-6 text-white text-opacity-70 lg:text-2xl"
              >Create beautiful backgrounds waves for your designs.
            </span>
            Design, Front-end (UI).
          </dd>
          <div>
            <img
              class="mt-12 rounded shadow-thick"
              src="https://wickedbackgrounds.com/images/opengraphTwitter.png"
              alt=""
            />
          </div>
        </a>
      </div>
    </dl>
  </div>
</div>
