<section class="w-full bg-pearl">
  <div class="max-w-xl px-4 py-24 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex mx-auto text-left">
      <div class="relative flex-col items-end my-auto align-middle">
        <div class="flex items-center justify-between pb-16">
          <div>
            <img
              class="inline-block rounded-full h-9 w-9"
              src="https://pbs.twimg.com/profile_images/1430903111921463296/aWX5GF3K_400x400.jpg"
              alt=""
            />
          </div>
          <div>
            <div class="hidden gap-2 ml-auto lg:flex">
              <a
                href="https://twitter.com/Mike_Andreuzza"
                target="_blank"
                class="inline-flex items-center p-3 space-x-3 text-sm font-semibold text-white transition duration-500 ease-in-out transform border-2 rounded-full  border-cinder focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-pearl"
              >
                <svg
                  class="w-5 h-5"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
                  />
                </svg>
              </a>
              <a
                href="https://dribbble.com/MichaelAndreuzza"
                target="_blank"
                class="inline-flex items-center p-3 space-x-3 text-sm font-semibold text-white transition duration-500 ease-in-out transform border-2 rounded-full  border-cinder focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-pearl"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <circle cx="12" cy="12" r="9" />
                  <path d="M9 3.6c5 6 7 10.5 7.5 16.2" />
                  <path d="M6.4 19c3.5 -3.5 6 -6.5 14.5 -6.4" />
                  <path d="M3.1 10.75c5 0 9.814 -.38 15.314 -5" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="justify-between lg:grid lg:grid-cols-2">
          <div class="space-y-8">
            <span class="sr-only"> Michael Andreuzza </span>
            <div class="inline-flex items-center">
              <div class="w-2 h-2 bg-white rounded-full animate-ping"></div>

              <span
                data-animate="title"
                class="max-w-5xl ml-4 text-xl font-light leading-none tracking-wider text-white  lg:max-w-7xl"
              >
                Available for freelance, remote &amp; in-house.
              </span>
            </div>
            <div class="">
              <span class="text-2xl tracking-wide text-white lg:text-3xl"
                >Designing, building websites, creating products &amp;
                components.
              </span>
            </div>
            <div class="">
              <span class="text-water">
                If you’re looking for a designer with front end skills
                specialized in Tailwind CSS to help bring your thoughts to life,
                we should have a talk.
              </span>
            </div>
            <div
              class="items-center gap-4 mt-4 space-y-2  lg:inline-flex lg:space-y-0"
            >
              <a
                href="mailto:michael@andreuzza.com"
                class="inline-flex items-center px-8 py-3 text-base font-light text-white transition duration-500 ease-in-out transform border-2 rounded-full  border-cinder focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-pearl"
              >
                <svg
                  class="mr-4"
                  width="20"
                  height="20"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M4.75 7.75C4.75 6.64543 5.64543 5.75 6.75 5.75H17.25C18.3546 5.75 19.25 6.64543 19.25 7.75V16.25C19.25 17.3546 18.3546 18.25 17.25 18.25H6.75C5.64543 18.25 4.75 17.3546 4.75 16.25V7.75Z"
                  ></path>
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M5.5 6.5L12 12.25L18.5 6.5"
                  ></path>
                </svg>

                michael@andreuzza.com
              </a>

              <a
                class="inline-flex items-center px-8 py-3 text-base font-light text-white transition duration-500 ease-in-out transform border-2 rounded-full  border-cinder focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-pearl"
                href="./cv.html"
              >
                <svg
                  class="mr-4"
                  width="20"
                  height="20"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M19.25 12C19.25 13 17.5 18.25 12 18.25C6.5 18.25 4.75 13 4.75 12C4.75 11 6.5 5.75 12 5.75C17.5 5.75 19.25 11 19.25 12Z"
                  ></path>
                  <circle
                    cx="12"
                    cy="12"
                    r="2.25"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                  ></circle>
                </svg>
                Resume
              </a>
            </div>
          </div>
          <div class="mt-5 lg:ml-auto lg:mt-0">
            <div class="flex flex-col">
              <span class="max-w-md mt-4 text-base text-white sm:leading-10"
                >Current Location:
              </span>
              <span
                class="max-w-md text-2xl font-thin text-white sm:leading-10"
              >
                Åland Islands FI,
                <div class="text-sm" x-data x-text="$moment().format('LTS')">
                  Helsinki Time Zone
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
