<div class="lg:grid lg:grid-cols-3 lg:gap-8 lg:py-12">
  <div class="space-y-8">
      <p class="text-sm text-santa">Colors &amp; Fonts </span>
    <h2 class="text-xl font-bold text-slate">
    Web Developer -  UI/UX
      <p class="text-sm font-normal text-santa">August 2020</span>
    </h2>
  </div>
  <div class="mt-12 lg:mt-0 lg:col-span-2">
    <main class="flex-auto ">
      <div class="max-w-2xl ml-auto">
        <p class="text-lg text-comet">
       Colors & fonts was my very first project and I was supposed to make a simple landing page with some gradients, but then scaled quickly during development and I ended up including fonts too.


    </p>
    <p class="mt-5 text-lg text-comet">

            You can copy paste gradient, color palette, glyphs, font pairings and this year ( 2021 ) I included a color system

        </p>
        <p class="mt-5 text-lg text-comet">

           The product is very popular within the design and development community, it has appeard on yotube videos by known youtubers and it has around 6k monthly users.

        </p>

         <p class="mt-5 ">

             <a href="https://www.colorsandfonts.com/" class="inline-flex
             hover:bg-white
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-medium
                  bg-water
                  text-slate">
                  Colors &amp; fonts
                </a>

        </p>
      </div>
    </main>
  </div>
</div>
