<div
  class="p-4  bg-pearl sm:flex lg:items-start group lg:p-8 rounded-xl shadow-thick"
>
  <div>
    <span class="text-sm text-river">Nov 08 2017</span>

    <p class="mt-3 font-medium leading-6 text-slate">
      <span class="text-xl lg:text-2xl">Colors &amp; Fonts </span>
      /
      <span class="text-sm text-river">
        Founder - Web Developer - UI/UX - Marketing
      </span>
    </p>
    <p class="mt-6 text-lg text-santa">
      Colors & fonts was my very first project and I was supposed to make a
      simple landing page with some gradients, but then scaled quickly during
      development and I ended up including fonts too. You can copy paste
      gradient, color palette, glyphs, font pairings and this year ( 2021 ) I
      included a color system The product is very popular within the design and
      development community, it has appeard on yotube videos by known youtubers
      and it has around 6k monthly users.
    </p>
    <div class="inline-flex items-center w-full mt-2">
      <div class="mt-6">
        <a href="https://colorsandfonts.com/" class="flex-shrink-0 block group">
          <p
            class="
              inline-flex
              items-center
              px-2.5
              py-0.5
              rounded-md
              text-sm
              font-medium
              bg-mirage
              text-white
            "
          >
            Visit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
