<section class="w-full bg-pearl lg:p-10 shadow-thick">
  <div class="max-w-xl px-4 pb-12 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="pt-24 mx-auto max-w-7xl">
      <div class="space-y-8">
        <a
          class="inline-flex items-center px-8 py-3 text-base font-light transition duration-500 ease-in-out transform border-2 rounded-full  text-santa border-cinder focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-pearl"
          href="./index.html"
          >&larr; Go back</a
        >
        <div class="pt-8 sm:flex lg:items-center lg:gap-12 group">
          <div
            class="w-full space-y-8  lg:items-start lg:space-y-0 lg:inline-flex lg:gap-12"
          >
            <div class="max-w-xl space-y-2">
              <p class="text-xl font-medium leading-6 text-santa lg:text-3xl">
                Visit
              </p>
              <p class="text-lg font-normal leading-6 text-smoke">
                UI Developer / Designer
              </p>
            </div>
            <div
              class="items-center gap-4 mt-4 space-y-2  lg:inline-flex lg:space-y-0 lg:ml-auto"
            >
              <a
                href="mailto:michael@andreuzza.com"
                class="inline-flex items-center px-8 py-3 text-base font-light text-white transition duration-500 ease-in-out transform border-2 rounded-full  border-cinder focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-pearl"
              >
                <svg
                  class="mr-4"
                  width="20"
                  height="20"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M4.75 7.75C4.75 6.64543 5.64543 5.75 6.75 5.75H17.25C18.3546 5.75 19.25 6.64543 19.25 7.75V16.25C19.25 17.3546 18.3546 18.25 17.25 18.25H6.75C5.64543 18.25 4.75 17.3546 4.75 16.25V7.75Z"
                  ></path>
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M5.5 6.5L12 12.25L18.5 6.5"
                  ></path>
                </svg>

                michael@andreuzza.com
              </a>

              <a
                class="inline-flex items-center px-8 py-3 text-base font-light text-white transition duration-500 ease-in-out transform border-2 rounded-full  border-cinder focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-pearl"
                href="https://docs.google.com/document/d/1WZ9hR46anNBwQHrCrVdxiDbWgdCW2n8eMlUm0Q1UAYQ/edit?usp=sharing"
              >
                <svg
                  class="mr-4"
                  width="20"
                  height="20"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M4.75 14.75V16.25C4.75 17.9069 6.09315 19.25 7.75 19.25H16.25C17.9069 19.25 19.25 17.9069 19.25 16.25V14.75"
                  ></path>
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M12 14.25L12 4.75"
                  ></path>
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M8.75 10.75L12 14.25L15.25 10.75"
                  ></path>
                </svg>
                PDF
              </a>
            </div>
          </div>
        </div>
        <div class="pt-8 sm:flex lg:items-center lg:gap-12 group">
          <div>
            <div class="max-w-xl space-y-8 lg:max-w-7xl">
              <p class="text-xl font-medium leading-6 text-santa lg:text-3xl">
                Self-taught UI/UX designer with front end skills and specialized
                on Tailwind CSS, also, a creator of projects for developers and
                digital designers.
              </p>

              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                Figma
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                Sketch
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                HTML
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                CSS
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                Tailwind CSS
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                CSS Frameworks
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                VS Code
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                Handlebars
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                Alpine.js
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                Swedish
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                English
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                Spanish
              </span>
              <span
                class="
                  inline-flex
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-normal
                  bg-tuna
                  text-smoke
                "
              >
                Italian
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="py-12">
      <div class="sr-only">
        <div class="max-w-xl space-y-8">
          <p class="text-xl font-medium leading-6 text-santa lg:text-3xl">
            Visit
          </p>
          <p class="text-xl font-medium leading-6 text-santa lg:text-2xl">
            UI Developer / Designer
          </p>
          <span
            class="text-bay"
            style="color: #636eea; font-family: sans-serif"
          >
            Self-taught UI/UX designer with front end skills and specialized on
            Tailwind CSS and creator of projects for developers and digital
            designers.
          </span>
        </div>
        <a
          href="mailto:michael@andreuzza.com"
          class="inline-flex items-center px-8 py-3 text-base font-light transition duration-500 ease-in-out transform border-2 rounded-full  text-santa border-bright focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick"
        >
          <svg
            class="mr-4"
            width="20"
            height="20"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M4.75 7.75C4.75 6.64543 5.64543 5.75 6.75 5.75H17.25C18.3546 5.75 19.25 6.64543 19.25 7.75V16.25C19.25 17.3546 18.3546 18.25 17.25 18.25H6.75C5.64543 18.25 4.75 17.3546 4.75 16.25V7.75Z"
            ></path>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M5.5 6.5L12 12.25L18.5 6.5"
            ></path>
          </svg>

          michael@andreuzza.com
        </a>
      </div>
    </div>
  </div>
  {{>"cv/grid"}}
</section>
