<div class="lg:border-2 lg:p-20">
  <div class="lg:grid lg:grid-cols-3 lg:gap-8 lg:py-12">
    <div class="space-y-8">
        <p class="text-sm text-water">Serendipity </span>
       <h2 class="text-xl font-bold text-white">
      Web Developer -  UI/UX
        <p class="text-sm font-normal text-white">August 2020</span>
      </h2>
    </div>
    <div class="mt-12 lg:mt-0 lg:col-span-2">
      <main class="flex-auto ">
        <div class="max-w-2xl ml-auto">
          <p class="text-lg text-smoke">
          Serendipity is a UI Theme that I created after moving to MacOs and having vision issues while using VS code with other themes. Right now the theme has 8k users and growing.
          </p>
          <p class="mt-5 text-lg text-smoke">
              Serendipity is a theme prepared for Retina displays with 6 different variations:
          </p>

          <ul role="list" class="grid grid-cols-2 mt-4 space-y-4 list-disc lg:grid-cols-3 lg:psace-y-0">
            <li class="mt-2 text-lg text-smoke">
              Dark
            </li>
            <li class="mt-2 text-lg text-smoke">
             Dark italic
            </li>
            <li class="mt-2 text-lg text-smoke">
            Dark low contrast
            </li>
            <li class="mt-2 text-lg text-smoke">
            Light
            </li>
             <li class="mt-2 text-lg text-smoke">
            Light Low contrast
            </li>
             <li class="mt-2 text-lg text-smoke">
            Light Low contrast
            </li>
            <li class="mt-2 text-lg text-smoke">
           iTerms2 Dark
            </li>
             <li class="mt-2 text-lg text-smoke">
            iTerms2 Light
            </li>
            <li class="mt-2 text-lg text-smoke">
            MacOS terminal Dark
            </li>
            <li class="mt-2 text-lg text-smoke">
           Slack Dark
            </li>
            <li class="mt-2 text-lg text-smoke">
            Slack Light
            </li>
            <li class="mt-2 text-lg text-smoke">
          Linear app Dark
            </li>
            <li class="mt-2 text-lg text-smoke">
           Linear app Light
            </li>
            <li class="mt-2 text-lg text-smoke">
          Firefox Dark
            </li>
            <li class="mt-2 text-lg text-smoke">
           Firefox Light
            </li>
          </ul>
           <p class="gap-2 mt-4 space-y-2 lg:space-y-0">

               <a href="https://www.wickedblocks.dev/" class="inline-flex items-center px-8 py-3 text-base font-light text-white transition duration-500 ease-in-out transform border-2 rounded-full border-slate focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-palatino">
                    Serendipity oficial site &rarr;
                  </a>

                   <a href="https://marketplace.visualstudio.com/items?itemName=wicked-labs.wvsc-serendipity" class="inline-flex items-center px-8 py-3 text-base font-light text-white transition duration-500 ease-in-out transform border-2 rounded-full border-slate focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-palatino">
                    Serendipity on visual studio marketplace &rarr;
                  </a>
          </p>
        </div>
      </main>
    </div>
  </div>
</div>