<div
  class="p-4  bg-pearl sm:flex lg:items-start group lg:p-8 rounded-xl shadow-thick"
>
  <div>
    <span class="text-sm text-river">Jul 07, 2021</span>

    <p class="mt-3 font-medium leading-6 text-slate">
      <span class="text-xl lg:text-2xl">Serendipity </span>
      /
      <span class="text-sm text-river">
        Founder - Web Developer - UI/UX - Marketing
      </span>
    </p>
    <p class="mt-6 text-lg text-santa">
      Serendipity is a UI theme and experience i created for Visual Studio Code,
      i made the theme when i move to MacOS after noticing viewing experience
      issues in the IDE. It had built it for thr Retina displays that Apple are
      famous for, the quality of the theme is shown by the 8000+ installs which
      is still growing exponentially.
    </p>
    <div class="inline-flex items-center w-full mt-2">
      <div class="mt-6">
        <a href="https://wvsc.dev/" class="flex-shrink-0 block group">
          <p
            class="
              inline-flex
              items-center
              px-2.5
              py-0.5
              rounded-md
              text-sm
              font-medium
              bg-mirage
              text-white
            "
          >
            Visit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
