<div class="lg:border-2 lg:p-20">
  <div class="lg:grid lg:grid-cols-3 lg:gap-8 lg:py-12">
    <div class="space-y-8">
        <p class="text-sm text-water">Wicked Labs</span>
       <h2 class="text-xl font-bold text-white">
        Founder - Web Developer - UI/UX - Marketing
        <p class="text-sm font-normal text-white">March 2021</span>
      </h2>
    </div>
    <div class="mt-12 lg:mt-0 lg:col-span-2">
      <main class="flex-auto ">
        <div class="max-w-2xl ml-auto">
          <p class="text-lg text-smoke">
           Wicked Labs is the main project that makes small projects and was founded on 2020 from my kitchen's table, worked on it at
            night time and I have grown the project to 1k monthly revenue by doing
            indirect marketing on internet and 27k users every month. Then, I
            needed help because of growth and I looked for a developer to work
            side by side with me and apply his knowledge on the main product.
          </p>



          <ul role="list" class="mt-4 space-y-4 list-disc">
            <li class="mt-2 text-lg text-smoke">
              Collaborated to create strategic initiatives to design, code, and
              test solutions.
            </li>
            <li class="mt-2 text-lg text-smoke">
              Effectively coded software changes and alterations based on specific
              design specifications.
            </li>
            <li class="mt-2 text-lg text-smoke">
              Oversaw all aspects of design and development, and offered design
              solutions when necessary.
            </li>

            <li class="mt-2 text-lg text-smoke">
              Created web apps resources for web developer and digital designers
              to up to seven projects and growing.
            </li>
          </ul>
           <p class="mt-5">

               <a href="https://www.wickedlabs.dev/" class="inline-flex items-center px-8 py-3 text-base font-light text-white transition duration-500 ease-in-out transform border-2 rounded-full border-slate focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-palatino">
                    Wicked Labs &rarr;
                  </a>
          </p>
        </div>
      </main>
    </div>
  </div>
</div>
