<div class="sm:flex lg:items-start group">
  <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
    <img
      class="h-32 mt-12 rounded shadow-thick"
      src="https://wickedpopups.com/images/ogTwitter.png"
      alt=""
    />
  </div>
  <div>
    <span class="text-sm text-river">Aug 18, 2021</span>

    <p class="mt-3 font-medium leading-6 text-slate">
      <span class="text-xl lg:text-2xl">Wicked Popup's </span>
      /
      <span class="text-sm text-river">
        Founder - Web Developer - UI/UX - Marketing
      </span>
    </p>
    <p class="mt-6 text-lg text-santa">
      Was a personal challenge, I wanted to see what kind of product I can build
      and if I could make it in 24h or less. I did success in the attempt and
      that day I created this practical and easy to use modals then next
      launched and ended up on the 5th position.
    </p>
    <div class="inline-flex items-center w-full mt-2">
      <div class="mt-6">
        <a href="https://wickedpopups.com/" class="flex-shrink-0 block group">
          <p
            class="
              inline-flex
              items-center
              px-2.5
              py-0.5
              rounded-md
              text-sm
              font-medium
              bg-mirage
              text-white
            "
          >
            Visit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
