<div class="sm:flex lg:items-start group">
  <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
    <img
      class="h-32 mt-12 rounded shadow-thick"
      src="https://wickedblocks.dev/images/ogtwitter.png"
      alt=""
    />
  </div>
  <div>
    <span class="text-sm text-river">Sep 18, 2021</span>

    <p class="mt-3 font-medium leading-6 text-slate">
      <span class="text-xl lg:text-2xl">Wicked Blocks </span>
      /
      <span class="text-sm text-river">
        Founder - Web Developer - UI/UX - Marketing
      </span>
    </p>
    <p class="mt-6 text-lg text-santa">
      Wicked blocks was the free alternative to my paid templates. It alows
      developers the ability to copy and paste TailwindCSS components (blocks)
      and Alpine.JS components to use in their projects. I have around 400
      active users using the service daily, with this number increasing month on
      month.
    </p>
    <div class="inline-flex items-center w-full mt-2">
      <div class="mt-6">
        <a href="https://wickedblocks.dev/" class="flex-shrink-0 block group">
          <p
            class="
              inline-flex
              items-center
              px-2.5
              py-0.5
              rounded-md
              text-sm
              font-medium
              bg-mirage
              text-white
            "
          >
            Visit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
