<div class="lg:grid lg:grid-cols-3 lg:gap-8 lg:py-12">
  <div class="space-y-8">
      <p class="text-sm text-santa">Wicked Blocks</span>
    <h2 class="text-xl font-bold text-slate">
    Web Developer - UI/UX - Marketing
      <p class="text-sm font-normal text-santa">November 2020</span>
    </h2>
  </div>
  <div class="mt-12 lg:mt-0 lg:col-span-2">
    <main class="flex-auto ">
      <div class="max-w-2xl ml-auto">
        <p class="text-lg text-comet">
         Wicked Blocks Tailwind CSS and Alpine.js  blocks and components ready to copy paste on your next project.



        </p>
        <p class="mt-5 text-lg text-comet">
            WB was created  to drive traffic and create leads on Wicked Templates.
            On Wicked Block the user can copy paste the blocks.
            The project is used by 300 - 400 users daily


        </p>

        <h2 class="mt-12 text-lg font-medium leading-6 text-river lg:text-2xl">
          Tasks
        </h2>

        <ul role="list" class="mt-4 space-y-4 list-disc">
          <li class="mt-2 text-lg text-comet">
            Designed/developed the blocks.
          </li>
          <li class="mt-2 text-lg text-comet">
           Market the project and drive traffic to it
          </li>
          <li class="mt-2 text-lg text-comet">
            Maintenance
          </li>
        </ul>
         <p class="mt-5">

             <a href="https://www.wickedblocks.dev/" class="inline-flex
             hover:bg-white
                  items-center
                  px-2.5
                  py-0.5
                  rounded-md
                  text-sm
                  font-medium
                  bg-water
                  text-slate">>
                  Wicked blocks
                </a>
        </p>
      </div>
    </main>
  </div>
</div>
