<div class="sm:flex lg:items-start group">
  <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
    <img
      class="h-32 mt-12 rounded shadow-thick"
      src="./images/wickedlabs.png"
      alt=""
    />
  </div>
  <div>
    <span class="text-sm text-river">Jun 30, 2021</span>

    <p class="mt-3 font-medium leading-6 text-slate">
      <span class="text-xl lg:text-2xl">Wicked Labs </span>
      /
      <span class="text-sm text-river">
        Founder - Web Developer - UI/UX - Marketing
      </span>
    </p>
    <p class="mt-6 text-lg text-santa">
      Wicked Labs is the umbrella for the Wicked brand which was founded in 2020
      from my kitchen table. When I first started the project I worked on it
      night and day and its grown into a 1k monthly revenue stream, I have
      achieved this with indirect marketing online and as a result I have 27k
      users a month using the platforms for various purposes
    </p>
    <div class="inline-flex items-center w-full mt-2">
      <div class="mt-6">
        <a href="https://wickedlabs.dev/" class="flex-shrink-0 block group">
          <p
            class="
              inline-flex
              items-center
              px-2.5
              py-0.5
              rounded-md
              text-sm
              font-medium
              bg-mirage
              text-white
            "
          >
            Visit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
