<div class="lg:border-2 lg:p-20">
  <div class="lg:grid lg:grid-cols-3 lg:gap-8 lg:py-12">
    <div class="space-y-8">
        <p class="text-sm text-water">Wicked Blocks</span>
       <h2 class="text-xl font-bold text-white">
      Web Developer - UI/UX - Marketing
        <p class="text-sm font-normal text-white">November 2020</span>
      </h2>
    </div>
    <div class="mt-12 lg:mt-0 lg:col-span-2">
      <main class="flex-auto ">
        <div class="max-w-2xl ml-auto">
          <p class="text-lg text-smoke">
           Wicked Blocks Tailwind CSS and Alpine.js  blocks and components ready to copy paste on your next project.



          </p>
          <p class="mt-5 text-lg text-smoke">
              WB was created  to drive traffic and create leads on Wicked Templates.
              On Wicked Block the user can copy paste the blocks.
              The project is used by 300 - 400 users daily


          </p>


          <ul role="list" class="mt-4 space-y-4 list-disc">
            <li class="mt-2 text-lg text-smoke">
              Designed/developed the blocks.
            </li>
            <li class="mt-2 text-lg text-smoke">
             Market the project and drive traffic to it
            </li>
            <li class="mt-2 text-lg text-smoke">
              Maintenance
            </li>
          </ul>
           <p class="mt-5">

               <a href="https://www.wickedblocks.dev/" class="inline-flex items-center px-8 py-3 text-base font-light text-white transition duration-500 ease-in-out transform border-2 rounded-full border-slate focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white shadow-thick bg-palatino">
                    Wicked blocks
                  </a>
          </p>
        </div>
      </main>
    </div>
  </div>
</div>
