<section>
  <div class="px-5 pt-44">
    <div class="max-w-xl py-5 space-y-12 text-white/80 lg:py-5">
      <h1 class="text-xl font-thin tracking-tight">Michael Andreuzza</h1>
      <div class="space-y-6">
        <p>
          I play with UI/UX design and front-end development by building my own
          projects and freelancing, therefore I founded
          <a
            class="text-white/50 hover:underline hover:underline-offset-4"
            target="_blank"
            href="https://apesoflondon.studio"
            >Apes Of London Studio</a
          >
        </p>

        <p class="leading-loose">
          I mostly work with
          <span class="italic">Figma</span>,
          <span class="italic">Tailwind</span> CSS and
          <span class="italic">Alpine.js</span>.
        </p>
      </div>
    </div>
    <div class="max-w-xl py-5 space-y-3 text-white/80 lg:py-5">
      <p class="text-xs">
        Recent -
        <span class="space-x-4 leading-loose text-white/50">
          <a
            target="_blank"
            href="https://www.wickedtemplates.com/"
            class="hover:underline hover:underline-offset-4"
            >Wicked Templates - Acquired</a
          >
          <a
            target="_blank"
            href="https://www.colorsandfonts.com/"
            class="hover:underline hover:underline-offset-4"
            >Colors &amp; Fonts</a
          >
          <a
            target="_blank"
            href="https://www.wickedblocks.dev/"
            class="hover:underline hover:underline-offset-4"
            >Wicked Blocks - Acquired</a
          >
          <a
            target="_blank"
            href="https://www.serendipitytheme.com/"
            class="hover:underline hover:underline-offset-4"
            >Serendipity Theme</a
          >
          <a
            target="_blank"
            href="https://www.wickedbackgrounds.com/"
            class="hover:underline hover:underline-offset-4"
            >Wicked Backgrounds</a
          >
          <a
            target="_blank"
            href=""
            class="hover:underline hover:underline-offset-4"
            >Brutalist One</a
          >
        </span>
      </p>
      <p class="text-xs">
        Contact -
        <span class="space-x-4 leading-loose text-white/50">
          <a
            target="_blank"
            href="https://twitter.com/Mike_Andreuzza"
            class="hover:underline hover:underline-offset-4"
            >Twitter</a
          >
          <a
            target="_blank"
            href="https://github.com/michael-andreuzza"
            class="hover:underline hover:underline-offset-4"
            >GitHub</a
          >
          <a
            target="_blank"
            href="mailto:michael@andreuzza.com"
            class="hover:underline hover:underline-offset-4"
            >Email</a
          >
        </span>
      </p>
    </div>
  </div>
</section>
