<section class="flex items-center justify-center">
  <div class="px-4 py-24 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="prose">
        <div class="max-w-lg">
          <h2 class="text-lg font-medium text-white">– Michael Andreuzza</h2>
          <p class="text-sm font-light text-white/60">
            A self thought UI/UX designer with front end skills. You will mostly
            find me freelancing or building my own products.
          </p>
          <p class="text-sm font-light text-white/60">
            If you want to hire me to build your landing page feel free to
            contact at:
            <a class="text-white" href="mailto:michael@andreuzza.com">e-mail</a>
          </p>
          <p class="text-sm font-light text-white/60">
            Feel free to click around and see what I have been working.
          </p>
        </div>
        <ul
          role="list"
          class="grid grid-cols-1 gap-6 py-6 mt-6 border-zinc-700 border-y sm:grid-cols-2"
        >
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://studio.unwrapped.design/"
                  class="text-white focus:outline-none"
                >
                  Unwrapped 2022 – Present
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                Unlimited custom landing pages for a fixed price. For startups,
                creator and anyone who needs a landing page.
              </p>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://unwrapped.design/"
                  class="text-white focus:outline-none"
                >
                  Unwrapped Design – Present
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                A prototyping kit for Tailwind CSS
              </p>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://marketplace.visualstudio.com/items?itemName=wicked-labs.wvsc-serendipity"
                  class="text-white focus:outline-none"
                >
                  Serendipity Theme
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                Serendipity is a VS Code theme that has been ported to other
                UI's, IDE's and APP's
              </p>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://meshedup.dev/"
                  class="text-white focus:outline-none"
                >
                  Meshedup DEV
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                A collection of multicolour vectors for web developers and
                digital designers.
              </p>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://svgdoodles.com/"
                  class="text-white focus:outline-none"
                >
                  SVG Doodles
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                A collection of svg doodles for web developers and digital
                designers.
              </p>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://colorsandfonts.com/"
                  class="text-white focus:outline-none"
                >
                  Colors & Fonts
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                Color and typography for Web Developers and Digital Designers.
              </p>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://brutalist.one/"
                  class="text-white focus:outline-none"
                >
                  Brutalist One
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                A collection of brutalist websites
              </p>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://mikes.ink/simplicons"
                  class="text-white focus:outline-none"
                >
                  Simplicons
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                Minimal system icons for iOS 14
              </p>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://mikes.ink/carbon-sand"
                  class="text-white focus:outline-none"
                >
                  Carbon Sand
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                36 minimal and dynamic wallpapers for MacOS
              </p>
            </div>
          </li>
        </ul>
        <div class="max-w-lg">
          <h2 class="text-lg font-medium text-white">
            – Wicked Templates &amp; Wickes blocks were acquired.
          </h2>
          <p class="text-sm font-light text-white/60">
            I created this two products in 2020 and by two years after were
            acquired.
          </p>
        </div>
        <ul
          role="list"
          class="grid grid-cols-1 gap-6 py-6 mt-6 border-zinc-700 border-y sm:grid-cols-2"
        >
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://wickedtemplates.com/"
                  class="text-white focus:outline-none"
                >
                  Wicked Templates || Acquired
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                Free and Premium themes, UI Kit's, templates and landing pages
                built with Tailwind CSS, HTML & Next.js.
              </p>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://wickedblocks.dev/"
                  class="text-white focus:outline-none"
                >
                  Wicked Blocks || Acquired
                </a>
              </h3>
              <p class="mt-1 text-sm font-light text-white/60">
                UI blocks and components built with Tailwind & Alpine.js.
              </p>
            </div>
          </li>
        </ul>
        <div class="max-w-lg">
          <h2 class="text-lg font-medium text-white">
            – This are my daily tools.
          </h2>
          <p class="text-sm font-light text-white/60">
            From design to front-end
          </p>
        </div>
        <ul
          role="list"
          class="grid grid-cols-1 gap-6 py-6 mt-6 border-zinc-700 border-y sm:grid-cols-3"
        >
          <li>
            <div>
              <h3 class="text-sm font-medium text-white">Figma</h3>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium text-white">Tailwind CSS</h3>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium text-white">Alpine.js</h3>
            </div>
          </li>
        </ul>
        <div class="max-w-lg">
          <h2 class="text-lg font-medium text-white">– Social Media</h2>
          <p class="text-sm font-light text-white/60">
            I build in public on Twitter but you can find me in other platforms
            too.
          </p>
        </div>
        <ul
          role="list"
          class="grid grid-cols-1 gap-6 py-6 mt-6 border-zinc-700 border-y sm:grid-cols-3"
        >
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://twitter.com/Mike_Andreuzza"
                  class="text-white focus:outline-none"
                >
                  Twitter
                </a>
              </h3>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://dribbble.com/MichaelAndreuzza"
                  class="text-white focus:outline-none"
                >
                  Dribbble
                </a>
              </h3>
            </div>
          </li>
          <li>
            <div>
              <h3 class="text-sm font-medium">
                <a
                  href="https://www.figma.com/@MikeAndreuzza"
                  class="text-white focus:outline-none"
                >
                  Figma Community
                </a>
              </h3>
            </div>
          </li>
        </ul>
        <div class="max-w-lg">
          <h2 class="text-lg font-medium text-white">– customers</h2>
          <p class="text-sm font-light text-white/60">
            This entities are some of my customers on my products.
          </p>
        </div>
        <section>
          <div
            class="justify-center w-full mx-auto space-y-12 text-center lg:py-12"
          >
            <div
              class="grid justify-between grid-cols-2 gap-3 mx-auto text-left lg:grid-cols-4"
            >
              <div class="flex items-center justify-start">
                <img
                  src="https://d33wubrfki0l68.cloudfront.net/6c1706d11a7ac76bd2cafa10021941cbc725f598/88521/images/brands/yale.svg"
                  alt="Yale University Logo"
                  class="object-contain w-24 h-6"
                />
              </div>
              <div class="flex items-center justify-start">
                <img
                  src="https://d33wubrfki0l68.cloudfront.net/e065a76fd4a6d7739e477be74800b066ce82a4b8/24320/images/brands/michigan.svg"
                  alt="Michigan University Logo"
                  class="object-contain w-24 h-6"
                />
              </div>
              <div class="flex items-center justify-start">
                <img
                  src="https://d33wubrfki0l68.cloudfront.net/1237653a6347655b4f3c493c6a01a60ec5944c0f/79192/images/brands/minervauni.svg"
                  alt="Minerva University Logo"
                  class="object-contain w-24 h-6"
                />
              </div>

              <div class="flex items-center justify-start">
                <img
                  src="https://d33wubrfki0l68.cloudfront.net/03c07ed3371f43160b2d449d947d07cd3336285f/6933f/images/brands/webde.svg"
                  alt="Webde Logo"
                  class="object-contain w-24 h-6"
                />
              </div>
              <div class="flex items-center justify-start">
                <img
                  src="https://d33wubrfki0l68.cloudfront.net/1d465d2c093c9457098deb5eef347ebf93c644ae/27bc2/images/brands/cern.svg"
                  alt="Cern Logo"
                  class="object-contain w-24 h-6"
                />
              </div>
              <div class="flex items-center justify-start">
                <img
                  src="https://d33wubrfki0l68.cloudfront.net/2d8ff93607febda54ffaf702318276cf34942a8c/13b12/images/brands/harvard.svg"
                  alt="Harvrd University Logo"
                  class="object-contain w-24 h-6"
                />
              </div>
              <div class="flex items-center justify-start">
                <img
                  src="https://d33wubrfki0l68.cloudfront.net/2978e02cf2a4eba98bdc7e51dc6122b7914fc1ee/0b322/images/brands/remax.svg"
                  alt="Remaz Logo"
                  class="object-contain w-24 h-6"
                />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
