<section>
  <div class="w-full p-5 pt-12">
    <div class="grid w-full grid-cols-1 lg:grid-cols-2">
      <div class="py-5 space-y-4 lg:py-5 lg:col-start-2">
        <h4
          class="font-serif text-xl font-light tracking-tight  text-ship lg:text-4xl"
        >
          Contact:
          <span class="text-ship">
            <a
              class="text-tuna hover:text-comet"
              href="mailto:michael@andreuzza.com"
              >michael@andreuzza</a
            >
          </span>
        </h4>
        <h4
          class="font-serif text-xl font-light tracking-tight  text-ship lg:text-4xl"
        >
          Book a time:
          <span class="text-ship">
            <a
              class="text-tuna hover:text-comet"
              href="https://tidycal.com/3lgo0nm"
              >Mike_Andreuzza</a
            >
          </span>
        </h4>
        <h4
          class="font-serif text-xl font-light tracking-tight  text-ship lg:text-4xl"
        >
          Dribbble:
          <span class="text-ship">
            <a
              class="text-tuna hover:text-comet"
              href="https://dribbble.com/MichaelAndreuzza"
              >MichaelAndreuzza</a
            >
          </span>
        </h4>
        <h4
          class="font-serif text-xl font-light tracking-tight  text-ship lg:text-4xl"
        >
          Twitter:
          <span class="text-ship">
            <a
              class="text-tuna hover:text-comet"
              href="https://twitter.com/Mike_Andreuzza"
              >Mike_Andreuzza</a
            >
          </span>
        </h4>
      </div>
    </div>
  </div>
</section>
