<meta name="keywords" content="#" />
<meta
  name="description"
  content="A prototyping
kit for your next Tailwind CSS project."
/>
<link rel="manifest" href="../images/favicons/manifest.json" />
<meta name="msapplication-TileColor" content="#0d0d0d" />
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
<meta name="theme-color" content="#0d0d0d" />
<meta name="author" content="Michael Andreuzza" />
 <title>Michael Andreuzza || Front End Designer</title>
<meta
  name="title"
  content="Michael Andreuzza"
/>
<meta
  name="description"
  content="Front End Designer specialized in Tailwind CSS"
/>
