<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="Michael Andreuzza" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="michaelandreuzza.com" />
<meta name="twitter:creator" content="@mike_andreuzza" />
<meta name="twitter:title" content="Michael Andreuzza" />
<meta
  name="twitter:description"
  content="Front End Designer specialized in Tailwind CSS."
/>
<meta
  name="twitter:image"
  content="https://michaelandreuzza.com/images/opengraph/twitter.png"
/>
