<div class="sm:flex lg:items-start group">
  <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
    <img
      class="h-32 mt-12 rounded shadow-thick"
      src="https://ph-files.imgix.net/f4e3679c-25d7-4a6d-b4a4-5b5052f8bb32.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&fit=max&dpr=2"
      alt=""
    />
  </div>
  <div>
    <span class="text-sm text-santa">Jul 07, 2021</span>

    <p class="mt-3 font-medium leading-6 text-slate">
      <span class="text-xl lg:text-2xl">Serendipity </span>
      /
      <span class="text-sm text-santa">
        Founder - Web Developer - UI/UX - Marketing
      </span>
    </p>
    <p class="mt-6 text-lg text-santa">
      Serendipity is a UI theme and experience I created for Visual Studio Code,
      I made the theme when I move to MacOS after noticing viewing experience
      issues in the IDE. It had built it for thr Retina displays that Apple are
      famous for, the quality of the theme is shown by the 8000+ installs which
      is still growing exponentially.
    </p>
    <div class="inline-flex items-center w-full mt-2">
      <div class="mt-6">
        <a href="https://wvsc.dev/" class="flex-shrink-0 block group">
          <p
            class="
              inline-flex
              items-center
              px-2.5
              py-0.5
              rounded-md
              text-sm
              font-medium
              bg-mirage
              text-white
            "
          >
            Visit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
