<div class="sm:flex lg:items-start">
  <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
    <img
      class="h-32 mt-12 rounded shadow-thick"
      src="https://www.wickedtemplates.com/images/opengraph/openGraphTwitter.png"
      alt=""
    />
  </div>
  <div>
    <span class="text-sm text-santa">May 25, 2020</span>

    <p class="mt-3 font-medium leading-6 text-slate">
      <span class="text-xl lg:text-2xl">Wicked Templates </span>
      /
      <span class="text-sm text-santa">
        Founder - Web Developer - UI/UX - Marketing
      </span>
    </p>
    <p class="mt-6 text-lg text-santa">
      I created Wicked Templates as I believe there is a lack of well designed
      templates and UI kits at affordable prices. All of my templates are made
      with the incredible TailwindCSS. Wicked Templates has around 1500
      customers with a revenue of around $500 to $1000 per month. Some of my
      clients include the University of Minerva, CERN and http://web.de.
    </p>
    <div class="inline-flex items-center w-full mt-2">
      <div class="mt-6">
        <a
          href="https://wickedtemplates.com/"
          class="flex-shrink-0 block group"
        >
          <p
            class="
              inline-flex
              items-center
              px-2.5
              py-0.5
              rounded-md
              text-sm
              font-medium
              bg-mirage
              text-white
            "
          >
            Visit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
