<div class="sm:flex lg:items-start group">
  <div>
    <span class="text-sm text-river">Sep 15 2012 - Jun 16 2013</span>

    <p class="mt-3 font-medium leading-6 text-slate">
      <span class="text-xl lg:text-2xl">Högskola På Åland </span>
      /
      <span class="text-sm text-river"> Economics </span>
    </p>
    <p class="mt-6 text-lg text-santa">
      I was in the first year of economics and completed many courses.
    </p>
    <div class="inline-flex items-center w-full mt-2">
      <div class="mt-6">
        <a href="https://www.ha.ax/en/" class="flex-shrink-0 block group">
          <p
            class="
              inline-flex
              items-center
              px-2.5
              py-0.5
              rounded-md
              text-sm
              font-medium
              bg-mirage
              text-white
            "
          >
            Visit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
