<div class="sm:flex lg:items-start group">
  <div>
    <span class="text-sm text-santa">Nov 20, 2017 - PRESENT</span>

    <p class="mt-3 font-medium leading-6 text-slate">
      <span class="text-xl lg:text-2xl">TreeHouse </span>
      /
      <span class="text-sm text-santa"> Web Development </span>
    </p>
    <p class="mt-6 text-lg text-santa">
      TreeHouse is an online platform where you can learn on your path. By doing
      so, I have been learning HTML, CSS, SASS, Design, Dev tools, digital
      literacy and I am currently studying Javascript.
    </p>
    <div class="inline-flex items-center w-full mt-2">
      <div class="mt-6">
        <a
          href="https://teamtreehouse.com/michaelandreuzza"
          class="flex-shrink-0 block group"
        >
          <p
            class="
              inline-flex
              items-center
              px-2.5
              py-0.5
              rounded-md
              text-sm
              font-medium
              bg-mirage
              text-white
            "
          >
            Visit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
