<!DOCTYPE html>
<html lang="en-US" class="h-full" style="scroll-behavior: smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    {{>"favicons/favicons"}}

    <title>michael andreuzza</title>
    <script
      async
      defer
      data-website-id="770b3a40-9490-4050-8a0c-b7f4b4cdc1df"
      src="https://stats.andreuzza.com/umami.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="h-full mx-auto bg-black 2xl:max-w-7xl">
    {{#block "body"}} {{/block}}

    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.nocss.min.js"></script>
  </body>
</html>
