<!DOCTYPE html>
<html lang="en-US" class="h-full" style="scroll-behavior: smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    {{>"favicons/favicons"}}

    <title>michael andreuzza</title>


     <link
      href="//db.onlinewebfonts.com/c/c891e94039740e4a24a9f53324fd91be?family=NeueHaasGroteskDisp+Pro+Md"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body class="h-full mx-auto bg-black 2xl:max-w-7xl font-display">
    {{#block "body"}} {{/block}}

    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.nocss.min.js"></script>
  </body>
</html>
